html,
body,
#sceneDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.panel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-side {
  padding: 2px;
  box-sizing: border-box;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 60;
}

.panel-side h3 {
  padding: 0 20px;
  margin: 20px 0;
  text-align: center;
}

.panel-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel-side li {
  list-style: none;
  padding: 10px 20px;
}

.panel-result {
  cursor: pointer;
  margin: 2px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-result:hover,
.panel-result:focus {
  color: orange;
  background-color: rgba(0, 0, 0, 0.75);
}

/* HTML CSSResult Skip Results Iframe
EDIT ON */
.custom-select {
  min-width: 350px;
  position: relative;
  text-align: center;
}

.custom-select select {
  appearance: none;
  width: 75%;
  font-size: 1.15rem;
  padding: 0.875em 0em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  text-align: center;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}


/*=============
Aesthetics 
=========================*/

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
